.FormField {
    width: 100%;
    margin-bottom: 1.4rem;
    text-align: left;
    .FormFieldLabel {
        font-size: 1.1rem;
    }
    .FormFieldInput {
        width: 100%;
        height: 30px;
        input {
            width: 100%;
            height: 100%;
            padding: 0px 10px;
            background: $basic-color-two;
            border: 1px solid $basic-color-three;
            border-radius: 3px;
        }
    }
}
