.AddToPortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    margin: 0 auto;
    width: 60%;
    max-width: 40rem;
    border: 1px solid $color-1b;
    background: $basic-color-one;
    border-radius: 3px;
}
