.AddToPortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
    margin: 0 auto;
    width: 60%;
    border: 1px solid grey;
}
